.container-custom {
    margin-top: 35px;
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input {
    font-size: 18px;
    height: 60px;
    text-indent: 0;
    border: 2px solid #d6d4d4;
}

.search input::placeholder {
    color: #a0a0a0;
}

.search input:focus {
    box-shadow: none;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
}

.search input[type=submit] {
    font-size: 18px;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    --bs-btn-color: white;
    --bs-btn-bg: #386a8a;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #2a526b;
    --bs-btn-font-size: 16px;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #2a526b
}

.choose-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    font-weight: normal;
    font-size: 28px;
    color: #23a45b;
}

.choose-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choose-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.choose-img {
    width: 45vh;
    height: 30vh;
    border-radius: 10%;
}
